/* You can add global styles to this file, and also import other style files */
html {
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
